---
layout: default

title: What We Do

type: what

show-plant-list: true

---

<div class="row visible-lg visible-md visible-sm visible-xs">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>PRINT</h2>
  </div>
</div>

<div class="row visible-lg visible-md">
  <div id="home-slider-0-holder" class="swapper-image col-lg-8 col-md-8">
  </div>

    <div class="col-lg-4 col-md-4">
      <a href="/what-we-do/print/print-1.html">
        <p class='big-standard top-and-tailed'>We offer more than a print management company...</p>
      </a>
        <a href="/what-we-do/print/print-2.html">
          <p class='big-standard top-and-tailed'>Competitive prices, excellent quality and first class service</p>
        </a>
           <a href="/what-we-do/print/print-3.html">
          <p class='big-standard'>More print for your pound</p>
           </a>
          <p{% include ask-us-to-quote.html %}</p>
    </div>
    
</div>

<div class="row visible-sm visible-xs">
  <div id="home-slider-1-holder" class="swapper-image col-sm-12 col-xs-12">
  </div>

    <div class="col-sm-12 col-xs-12">
      <a href="/what-we-do/print/print-1.html">
        <p class='big-standard top-and-tailed'>We offer more than a print management company...</p>
      </a>
      <a href="/what-we-do/print/print-2.html">
          <p class='big-standard top-and-tailed'>Competitive prices, excellent quality and first class service</p>
        </a>
           <a href="/what-we-do/print/print-3.html">
          <p class='big-standard'>More print for your pound</p>
           </a>
          <p{% include ask-us-to-quote.html %}</p>
    </div>
</div>

<div class="row visible-lg visible-md visible-sm visible-xs">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="quote-request" class="collapse">
      {% include contact-form.html %}
    </div>
  </div>
</div>

<script src="/public/js/jquery.js"></script>
<script src="/public/data/images.js"></script>
<script src="/public/js/app.js"></script>

<script type="text/javascript">
  $(function() {
    var interval = getInterval();

    $("#home-slider-0-holder").append(createSwapperImages(print_images[0]));
    $("#home-slider-1-holder").append(createSwapperImages(print_images[0]));
    setInterval('swapImages()', interval);

  });
</script>

{% include back-to-what-we-do.html %}