---
layout: default

title: Welcome

lead-text: Where do you go to find a creative team that really understands you?
strapline: Welcome to...
red: red
engine: engine

type: home
---

<div class="row visible-lg visible-md">
  <div id="home-slider-0-holder" class="col-lg-8 col-md-8">
  </div>

  <div class="col-lg-4 col-md-4">
    {% include index-page-wording.html %}
  </div>
</div>

<div class="row visible-sm visible-xs">
  <div class="col-sm-12 col-xs-12">
    {% include index-page-wording.html %}
  </div>
</div>

<div class="row visible-sm">
  <div id="home-slider-1-holder" class="col-sm-12">
  </div>
</div>

<div class="row visible-xs">
  <div id="mobile-image" class="col-xs-12">
  </div>
</div>

{% include news-flash.html %}

<script src="/public/js/jquery.js"></script>
<script src="/public/data/images.js"></script>
<script src="/public/js/app.js"></script>

<script type="text/javascript">
  $(function() {
    var offset = getOffset();
    $("#home-slider-0-holder").append(createSlider(index_images[offset], "home-slider-0"));
    $("#home-slider-1-holder").append(createSlider(index_images[offset], "home-slider-1"));
    $("#mobile-image").append(createMobileImage(index_images[offset][0]));
  });
</script>
