<p class='visible-lg visible-md big-standard top-and-tailed'>{{ page.lead-text }}</p>

<p class='visible-sm visible-xs big-standard'>{{ page.lead-text }}</p>

<p class='medium-standard'>{{ page.strapline }}</p>

<p class='visible-lg visible-md visible-sm'>
  <span class="huge-standard big-red">{{ page.red }}</span> <span class="huge-standard big-black">{{ page.engine }}</span>
</p>

<p class='visible-xs'>
  <span class="hugeish-standard big-red">{{ page.red }}</span> <span class="hugeish-standard big-black">{{ page.engine }}</span>
</p>
