<style>
  .news-flash-desktop, .news-flash-tablet {
    background-color: rgb(206,46,23);
    margin: 30px 0px 0px 0px;
    padding: 0px;
    height: 130px;
  }
  
  .news-flash-desktop img {
    height: 130px;
    width: 32%;
    display: inline-block;
    float: left;
  }

  .news-flash-tablet #home-slider-tablet .carousel-inner {
    border-radius: 0px;
  }
  
  .news-flash-tablet #home-slider-tablet img {
    height: 130px;
    width: 100%;
    display: inline-block;
    float: left;
  }

  .news-flash-desktop h2, .news-flash-tablet h2 {
    margin: 30px 10px 10px 10px;
    color: white;
    font-size: 1.9em;
    letter-spacing: 4px;
    font-weight: bold;
    display: inline-block;
  }

  .news-flash-desktop p, .news-flash-tablet p {
    color: white;
    margin: 10px;
    font-size: 0.9em;
    display: inline-block;
  }

  .news-flash-desktop .icon-angle-right {
    font-size: 40px;
    width: 2%;
    margin: 45px auto;
    color: white;
    float: right;
  }

  .news-flash-tablet .icon-angle-right {
    font-size: 40px;
    width: 100%;
    margin: 45px auto;
    color: white;
    float: right;
  }
</style>



<a href="news/index.html">
  <div class="news-flash-desktop row visible-lg visible-md">
    <div class="col-lg-4 col-md-4">
      <h2>What's New</h2>
      <p>3 weeks in Jamaica for Thomson Holidays ...</p>
    </div>

    <div class="col-lg-8 col-md-8">
      <img src="public/images/news/image-1.jpg" class="img-responsive" alt="">
      <img src="public/images/news/image-2.jpg" class="img-responsive" alt="">
      <img src="public/images/news/image-3.jpg" class="img-responsive" alt="">

      <i class="icon-angle-right"></i>
    </div>
  </div>


  <div class="news-flash-tablet row visible-sm">
    <div class="col-sm-6">
      <h2>What's New</h2>
      <p>3 weeks in Jamaica for Thomson Holidays ...</p>
    </div>

    <div class="col-sm-5">
      <div id="home-slider-tablet" class="carousel slide">
        <div class="carousel-inner">    
          <div class="item active">
            <img src="public/images/news/image-1.jpg" alt="">
          </div>
          <div class="item">
            <img src="public/images/news/image-2.jpg" alt="">
          </div>
          <div class="item">
            <img src="public/images/news/image-3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-1">
      <i class="icon-angle-right"></i>
    </div>
  </div>


  <div class="row visible-xs">
    <div class="col-xs-12">
      blah - phone
    </div>
  </div>
</a>
