<style>
  .news-flash {
    background-color: rgb(206,46,23);
    margin: 30px 0px 0px 0px;
    padding: 0px;
  }

  .news-flash-desktop, .news-flash-tablet {
    height: 130px;
  }
  
  .news-flash-desktop img {
    height: 130px;
    width: 32%;
    display: inline-block;
    float: left;
  }

  .not-rounded {
    border-radius: 0px;
  }
  
  .news-flash-tablet #home-slider-tablet img {
    height: 130px;
    width: 100%;
    display: inline-block;
    float: left;
  }

  .news-flash-phone #home-slider-phone img {
    width: 100%;
    display: inline-block;
    float: left;
  }

  .news-flash-desktop h2, .news-flash-tablet h2 {
    margin: 30px 10px 10px 10px;
    color: white;
    font-size: 1.9em;
    letter-spacing: 4px;
    font-weight: bold;
    display: inline-block;
  }

  .news-flash-phone h2 {
    margin: 20px 3px 10px 3px;
    color: white;
    font-size: 1.4em;
    letter-spacing: 3px;
    font-weight: bold;
    display: inline-block;
  }

  .news-flash-desktop p, .news-flash-tablet p {
    color: white;
    margin: 10px;
    font-size: 0.9em;
    display: inline-block;
  }

  .phone-text-block {
    background-color: rgb(145,39,23);
    margin: 0px;
    padding: 8px;
    display: inline-block;
    color: white;
    font-size: 1.2em;
  }

  .news-flash-desktop .icon-angle-right {
    font-size: 40px;
    width: 2%;
    margin: 45px auto;
    color: white;
    float: right;
  }

  .news-flash-tablet .icon-angle-right {
    font-size: 40px;
    width: 100%;
    margin: 45px auto;
    color: white;
    float: right;
  }

  .news-flash-phone .icon-angle-right {
    font-size: 40px;
    color: white;
    float: right;
    margin: 20px 10px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
</style>

{% assign page-title = "What's New" %}
{% assign post = site.posts.first %}

<a href="{{ post.url }}">
  <div class="news-flash news-flash-desktop row visible-lg visible-md">
    <div class="col-lg-4 col-md-4">
      <h2>{{ page-title }}</h2><br/>
      <p>
        <marquee behavior="scroll" scrollamount="3" direction="left" width="100%">
          {{ post.title }} {{ post.content }}
        </marquee>
      </p>
    </div>

    <div class="col-lg-8 col-md-8">
      <img src="{{ post.image-1-desktop-url }}" class="img-responsive" alt="">
      <img src="{{ post.image-2-desktop-url }}" class="img-responsive" alt="">
      <img src="{{ post.image-3-desktop-url }}" class="img-responsive" alt="">

      <i class="icon-angle-right"></i>
    </div>
  </div>


  <div class="news-flash news-flash-tablet row visible-sm">
    <div class="col-sm-6">
      <h2>{{ page-title }}</h2><br/>
      <p>{{ post.title }}</p>
    </div>

    <div class="col-sm-5">
      <div id="home-slider-tablet" class="carousel slide">
        <div class="not-rounded carousel-inner">    
          <div class="item active">
            <img src="{{ post.image-1-tablet-url }}" alt="">
          </div>
          <div class="item">
            <img src="{{ post.image-2-tablet-url }}" alt="">
          </div>
          <div class="item">
            <img src="{{ post.image-3-tablet-url }}" alt="">
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-1">
      <i class="icon-angle-right"></i>
    </div>
  </div>

  <div class="news-flash news-flash-phone row visible-xs">
    <div class="col-xs-4">
      <h2>{{ page-title }}</h2>
    </div>

    <div class="col-xs-7">
      <div id="home-slider-phone" class="carousel slide">
        <div class="not-rounded carousel-inner">    
          <div class="item active">
            <img src="{{ post.image-1-phone-url }}" alt="">
          </div>
          <div class="item">
            <img src="{{ post.image-2-phone-url }}" alt="">
          </div>
          <div class="item">
            <img src="{{ post.image-3-phone-url }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-1">
      <i class="icon-angle-right"></i>
    </div>
  </div>

  <div class="phone-text-block row visible-xs">
    <div class="col-xs-12">
      <p>{{ post.phone-title }}</p>
    </div>
  </div>
</a>
