<style>
  .news-flash {
    margin: 30px 0px 0px 0px;
    padding: 5px;
  }

  .news-flash a:hover {
    text-decoration: none;
  }
  .news-flash a:visited,
  .news-flash a:active,
  .news-flash a:link {
    color: #fff;
  }
</style>

{% assign post = site.posts.first %}

<div class="news-flash row visible-lg visible-md red">
  <div class="col-lg-6 col-md-6 red">
    <a href="{{ post.url }}">
      <h2>What's New...</h2>
      <p>
        <marquee behavior="scroll" scrollamount="3" direction="left" width="100%">
          {{ post.title }}
        </marquee>
      </p>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 green">
    <a href="/cope/index.html">
      <h4>COPE</h4>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 blue">
    <a href="/drones/index.html">
      <h4>DRONES</h4>
    </a>
  </div>
</div>


<div class="news-flash row visible-sm visible-xs">
  <div class="col-sm-12 col-xs-12 red">
    <a href="{{ post.url }}">
      <h2>What's New</h2>
      <p>
        <marquee behavior="scroll" scrollamount="3" direction="left" width="100%">
          {{ post.title }}
        </marquee>
      </p>
    </a>
  </div>
</div>

<div class="news-flash row visible-sm visible-xs">
  <div class="col-sm-6 col-xs-6 green">
    <a href="/cope/index.html">
      <h4>COPE</h4>
    </a>
  </div>

  <div class="col-sm-6 col-xs-6 blue">
    <a href="/drones/index.html">
      <h4>DRONES</h4>
    </a>
  </div>
</div>
