{% assign current_month = site.time | date: "%m" %}

{% case current_month %}
  {% when '01', '05', '09' %}
    {% assign slider_images = site.data.slider_images.image_sets.set_1 %}
  {% when '02', '06', '10' %}
    {% assign slider_images = site.data.slider_images.image_sets.set_2 %}
  {% when '03', '07', '11' %}
    {% assign slider_images = site.data.slider_images.image_sets.set_3 %}
  {% when '04', '08', '12' %}
    {% assign slider_images = site.data.slider_images.image_sets.set_4 %}
{% endcase %}

<div id="{{ include.param }}" class="carousel slide">
  <ol class="carousel-indicators">
    {% assign my_counter = 0 %}
    {% for image in slider_images %}
      {% if forloop.first %} 
        <li data-target="#{{ include.param }}" data-slide-to="{{ my_counter }}" class="active"></li>
      {% else %} 
        <li data-target="#{{ include.param }}" data-slide-to="{{ my_counter }}"></li>
      {% endif %}
      {% assign my_counter = forloop.index - 1 %}
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for image in slider_images %}
      {% if forloop.first %} 
        <div class="item active">
      {% else %} 
        <div class="item">
      {% endif %}
        <img src="{{ image.image_url }}" alt="">
      </div>
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#{{ include.param }}" data-slide="prev">
    <i class="icon-angle-left"></i>
  </a>

  <a class="right carousel-control" href="#{{ include.param }}" data-slide="next">
    <i class="icon-angle-right"></i>
  </a>
</div> 
 
<div class="image-over-wording-slider"></div>
