<!DOCTYPE html>

<html lang="en">

  <head>
    <title>{{ site.name }} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Red Engine are a London based creative and film company covering any business types, working with many leading industry experts">
    <meta name="keywords" content="media, film, travel, tourism, creative media, film and video media, marketing, travel and tourism creative experts, leading industry experts, advertising">

    <link href="/public/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">

    <link href="http://redengine.tv/rss.xml" rel="alternate" type="application/rss+xml" title="Subscribe to our RSS feed" />
    <link href="http://redengine.tv/atom.xml" rel="alternate" type="application/atom+xml" title="Subscribe to our Atom feed" />

    <!--[if lt IE 9]>
      <script src="/public/js/html5shiv.js"></script>
      <script src="/public/js/respond.min.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if IE 7]>
      <link href="/public/font-awesome/css/font-awesome-ie7.css" rel="stylesheet" media="screen">
    <![endif]-->

    <link href="/public/css/application.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-default top-nav" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img id="logo" src="/public/images/logo4.png" alt="red engine logo" class="logo">
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">

            <li {% if page.type == 'what' %} class="dropdown active-link" {% endif %}>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WHAT WE DO<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li {% if page.title == 'Print' %} class="active-link" {% endif %}>
                <a href="/what-we-do/print/index.html">PRINT</a>
                </li>
                <li {% if page.title == 'Publishing' %} class="active-link" {% endif %}>
                <a href="/what-we-do/publishing/index.html">PUBLISHING</a>
                </li>
                <li {% if page.title == 'Creative' %} class="active-link" {% endif %}>
                <a href="/what-we-do/creative/index.html">CREATIVE</a>
                </li>
              </ul>
            </li>
            <li {% if page.type == 'who' %} class="active-link" {% endif %}>
                <a href="/who-we-are/index.html">WHO WE ARE</a>
            </li>
            <li {% if page.type == 'post' %} class="active-link" {% endif %}>
                <a href="{{ site.posts.first.url }}">BLOG</a>
            </li>
            <li {% if page.type == 'contact' %} class="active-link" {% endif %}>
                <a href="/contact.html">CONTACT</a>
            </li>

          </ul>
        </div>
      </nav>

      <div class="clearfix">
        {{ content }}
      </div>

      <div class="clearfix">
        <nav class="navbar bottom-nav" role="navigation">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/">home</a></li>
            <li><a href="/contact.html">contact</a></li>
            <li><a href="/sitemap.xml">sitemap</a></li>
            <li><a href="https://redengine.chillivault.tv/login" target="_blank">client sign in</a></li>
          </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/RedEngine_media" title="Red Engine on Twitter" target="_blank"><i class="social-icon icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/pages/Red-Engine/1401399986767639" title="Red Engine on Facebook" target="_blank"><i class="social-icon icon-facebook-sign"></i></a></li>
            <li><a href="https://www.instagram.com/redenginemedia" title="Red Engine on Instagram" target="_blank"><i class="social-icon icon-instagram"></i></a></li>
            <!--
            <li><a href="http://redengine.tv/rss.xml" title="Subscribe to our RSS feed"><i class="social-icon icon-rss"></i></a></li>
            <li><a href="http://redengine.tv/atom.xml" title="Subscribe to our Atom feed"><i class="social-icon icon-rss"></i></a></li>
            -->
            <li><a href="mailto:info@redengine.tv">&copy; {{ site.time | date: "%Y" }} Red Engine</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;language=en"></script>
    <script src="/public/js/jquery.mobilegmap.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/picker.js"></script>


    <script type="text/javascript">
      $(function() {

        try {
          $('.carousel').carousel({
            interval: 3500,
            pause: ''
          });
        } catch(error) {}

        try {
          $('#redengine1').mobileGmap({
            markers: [{
              position: 'center',
              info: '<h2>Red Engine (UK) Ltd</h2>New Barnes Mill<br/>Cottonmill Lane<br/>St Albans AL1 2HA<br/>',
              showInfo: true
            },
            {
              position: 'Cottonmill Lane St Albans AL1 2HA'
            }]
          });
        } catch(error) {}
      })
    </script>
  </body>
</html>
