<!DOCTYPE html>

<html lang="en">

  <head>
    <title>{{ site.name }} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="/public/js/html5shiv.js"></script>
      <script src="/public/js/respond.min.js"></script>
    <![endif]-->

    <!--[if IE 7]>
      <link href="/public/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
    <![endif]-->

    <link href="/public/css/application.css" rel="stylesheet" media="screen">
  </head>
  
  <body>

    <div class="container">
    
      <nav class="navbar navbar-default top-nav" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img id="logo" src="/public/images/logo.png" alt="red engine logo" class="logo">
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if page.title == "Welcome" %} class="active-link" {% endif %}><a href="/">HOME</a></li>
            <li {% if page.title == "What We Do" %} class="active-link" {% endif %}><a href="/what-we-do/index.html">WHAT WE DO</a></li>
            <li {% if page.title == "Who We Are" %} class="active-link" {% endif %}><a href="/who-we-are/index.html">WHO WE ARE</a></li>
            <li {% if page.title == "Our Customers" %} class="active-link" {% endif %}><a href="/our-customers/index.html">OUR CUSTOMERS</a></li>
            <li {% if page.title == "Contact" %} class="active-link" {% endif %}><a href="/contact.html">CONTACT</a></li>
          </ul>
        </div>
      </nav>    
        
      {{ content }}

      <footer>
        <nav class="navbar bottom-nav" role="navigation">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/contact.html">contact</a></li>
            <li><a href="/sitemap.xml">sitemap</a></li>
            <li><a href="https://redengine.chillivault.tv/login" target="_blank">client sign in</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.twitter.com/redengine.tv" target="_blank"><i class="social-icon icon-twitter"></i></a></li>
            <li><a href="http://www.facebook.com/redengine.tv" target="_blank"><i class="social-icon icon-facebook-sign"></i></a></li>
            <li><a href="mailto:info@redengine.tv">&copy; 2013 Red Engine</a></li>
          </ul>
        </nav>
      </footer>
    </div>
    
    <script src="/public/js/jquery.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;language=en"></script>
    <script src="/public/js/jquery.mobilegmap.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
      $(function() {
        try {
          $('#home-slider').carousel({
            interval: 3500,
            pause: ''
          });
        } catch() {}
        
        try {
          $('#redengine1').mobileGmap({
            markers: [{
              position: 'center',
              info: '<h2>Red Engine (UK) Ltd</h2>2 Wedgwood Mews<br/>12/13 Greek Street<br/>London W1D 4BB',
              showInfo: true
            },
            {
              position: '2 Wedgwood Mews London W1D 4BB'
            }]
          });
        } catch() {}

        try {
          $('#redengine2').mobileGmap({
            markers: [{
              position: 'center',
              info: '<h2>Red Engine (UK) Ltd</h2>157 Wardour Street<br/>London W1F 8WQ',
              showInfo: true
            },
            {
              position: '157 Wardour Street London W1F 8WQ'
            }]
          });
        } catch() {}

        try {
          $("#the-concept-image").hover(
            function() {
              $(this).attr("src", "/public/images/wallace-and-gromit.png");
            }, function() {
              $(this).attr("src", "/public/images/what-we-do/the-concept.jpeg");
            }
          );
        } catch() {}
        
        try {
          $("#film-image").hover(
            function() {
              $(this).attr("src", "/public/images/wallace-and-gromit.png");
            }, function() {
              $(this).attr("src", "/public/images/what-we-do/film.jpeg");
            }
          );
        } catch() {}

        try {
          $("#print-image").hover(
            function() {
              $(this).attr("src", "/public/images/wallace-and-gromit.png");
            }, function() {
              $(this).attr("src", "/public/images/what-we-do/print.jpeg");
            }
          );
        } catch() {}

        try {
          $("#strategy-image").hover(
            function() {
              $(this).attr("src", "/public/images/wallace-and-gromit.png");
            }, function() {
              $(this).attr("src", "/public/images/what-we-do/strategy.jpeg");
            }
          );
        } catch() {}

        try {
          $("#creative-image").hover(
            function() {
              $(this).attr("src", "/public/images/wallace-and-gromit.png");
            }, function() {
              $(this).attr("src", "/public/images/what-we-do/creative.jpeg");
            }
          );
        } catch() {}
      })
    </script>
  </body>
</html>
