---
layout: default

type: post
---

<div class="row visible-lg visible-md">
  	<div class="col-lg-8 col-md-8">
	  {% include show-post.html %}
  	</div>

  	<div class="col-lg-4 col-md-4">
	  {% include archive-posts.html %}
  	</div>
</div>  


<div class="row visible-sm visible-xs">
  	<div class="col-sm-12 col-xs-12">
	  {% include show-post.html %}
  	</div>
</div>

<div class="row visible-sm visible-xs">
  	<div class="col-sm-12 col-xs-12">
	  {% include archive-posts.html %}
  	</div>
</div>  
